@font-face {
  font-family: 'Stem';
  src: url('/webfonts/hinted-Stem-Light.eot');
  src: url('/webfonts/hinted-Stem-Light.eot?#iefix') format('embedded-opentype'),
    url('/webfonts/hinted-Stem-Light.woff2') format('woff2'),
    url('/webfonts/hinted-Stem-Light.woff') format('woff'),
    url('/webfonts/hinted-Stem-Light.ttf') format('truetype'),
    url('/webfonts/hinted-Stem-Light.svg#Stem-Light') format('svg');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Stem Extra';
  src: url('/webfonts/hinted-Stem-ExtraLight.eot');
  src: url('/webfonts/hinted-Stem-ExtraLight.eot?#iefix')
      format('embedded-opentype'),
    url('/webfonts/hinted-Stem-ExtraLight.woff2') format('woff2'),
    url('/webfonts/hinted-Stem-ExtraLight.woff') format('woff'),
    url('/webfonts/hinted-Stem-ExtraLight.ttf') format('truetype'),
    url('/webfonts/hinted-Stem-ExtraLight.svg#Stem-ExtraLight') format('svg');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}
